@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --b1: #150e3e;
  --w1: #fffcfc;
  --p1: #756ab6;
  --p2: #ac87c5;
  --p3: #e0aed0;
  --p4: #ffe5e5;
  --r1: #E15B5B:
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  font-family: "Poppins", sans-serif;
  transition: background .3s ease-in;
}

body {
  background: var(--w1);
  max-width: 100vw;
  background: url() no-repeat center center / cover;
}

body.dark {
  background: var(--b1);
}

.header {
  background: var(--p1);
  max-width: 1920px;
  padding: 30px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body.dark .header {
  background: var(--w1);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px auto;
}

.container {
  background-position: center center !important;
  background-size: 360px !important;
  max-width: 1160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.content {
  width: 360px;
  height: 360px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.content::after {
  content: url(../images/lgo-cat.svg);
  position: absolute;
  right: 8px;
  top: 8px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.btn-like {
  background: url(../images/ico-like.svg) no-repeat center center / contain;
  width: 52px;
  height: 52px;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 1;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.btn-like:hover, .btn-like.liked {
  background: url(../images/ico-like-liked.svg) no-repeat center center / contain;
}

body.dark .content::after {
  content: url(../images/lgo-cat-dark.svg);
  right: 8px;
  top: 8px;
}

.btn-switch {
  background: var(--b1);
  width: 80px;
  height: 52px;
  border: 2px solid var(--p2);
  border-radius: 40px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease-in;
}

.btn-switch.is-active {
  background: var(--p1);
  border: 2px solid var(--b1);
}

.btn-switch::before {
  content: "";
  background: var(--p2);
  width: 36px;
  height: 36px;
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 50%;
  transition: left 0.3s ease-in;
}

.btn-switch.is-active::before {
  background: var(--b1);
  left: 36px;
}

.btn-more {
  color: var(--b1);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 12px 24px;
  margin-top: 80px;
  background: var(--p3);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn-more:hover {
  color: var(--w1);
  background: var(--p1);
}

.footer {
  background: var(--p1);
  height: auto;
  padding: 60px 60px;
}

body.dark .footer {
  background: var(--w1);
}

.footer-container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer .side p {
  font-size: 18px;
  line-height: 24px;
}

.footer .side-1 a {
  color: var(--b1);
  font-weight: 700;
  text-decoration: none;
}

.footer .side-2 {
  max-width: 470px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer .side-2 ul {
  padding-left: 20px;
  list-style: none;
}

.footer .side-2 ul a {
  color: var(--b1);
  text-decoration: none;
}

.footer .side-2 ul li {
  position: relative;
}

.footer .side-2 ul li::before {
  content: '';
  background: var(--p3);
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 8px;
  top: 9px;
  left: -16px;
}

@media (max-width: 1080px) {

  .header {
    padding: 30px 20px;
  }

  
  .footer {
    padding: 60px 20px;
  }
  
  .footer-container {
    justify-content: center;
  }
  
  .footer .side-1 {
    text-align: center;
  }
}

@media (max-width: 1080px) {
  
  .content {
    width: 320px;
    height: 320px;
  }
}